body {
    /* background-color: red; */
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-btn {
}

.gameboard {
    display: none;
}
